extends layout

block content
  h1= title
  p.para-index Welcome CIA (Computer Inventory App), the place where you find and store all of your computer components.

  // Show the statistics
  p The database contains the following:
  ul
    li Categories: #{categoriesCount}
    li Items: #{itemsCount}